.image-container {
    position: absolute;
    top: -50px;
    right: -150px;
    width: 950px;
    height: 950px;
    border-radius: 50%;
    overflow: hidden;
    z-index: -1;
  }
  
  .map-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
h1 {
    position: absolute;
    width: 563px;
    height: 58px;
    left: 147px;
    top: 179px;
    font-family: 'Apercu Arabic Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
}

.inputName {
    box-sizing: border-box;
    position: absolute;
    width: 557px;
    height: 93px;
    left: 150px;
    top: 267px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
}

.inputEmail {
    box-sizing: border-box;
    position: absolute;
    width: 557px;
    height: 93px;
    left: 150px;
    top: 368px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
}

.inputObservation {
    box-sizing: border-box;
    position: absolute;
    width: 557px;
    height: 189px;
    left: 150px;
    top: 469px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
}

.face-full{
    position: absolute;
    left: 1000px;
    top: 450px;
}

.face-full-1{
  position: absolute;
  left: 1000px;
  top: 370px;
}

.smile-2 {
  position: absolute;
  transform: rotate(deg);
  left: 90px;
  top: 80px;
}

.eye-6 {
  position: absolute;
  left: 70px;
  top: 80px;
  transform: rotate(10deg);
}

.eye-7 {
  position: absolute;
  left: 95px;
  top: 65px;
  transform: rotate(10deg);
}

input {
    border: none;
    outline: none;
    width:500px;
    height: 75px;
  }

textarea{
    border: none;
    outline: none;
    width:500px;
    height: 145px;
  }

button {
    position: absolute;
    width: 218px;
    height: 73px;
    left: 150px;
    top: 681px;

    background: #FAD34F;
    border-radius: 500px;
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

